#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 576px) {
    justify-content: space-evenly;
  }

  #card-row {
    width: 100%;
    height: 100%;
  }
}

.card {
  max-width: 360px;
  box-shadow: 0px 10px 7px 3px rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 767px) {
    width: 100%;
    height: 15%;
  }

  #card-imageContainer {
    height: auto;
    background-color: $cardBackground;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      height: 100%;
    }
    @media screen and (min-width: 1400px) {
      height: 100%;
    }

    img {
      width: 80%;
      @media screen and (min-width: 1400px) {
        width: 80px;
        height: auto;
      }
    }
  }

  #card-textContainer {
    height: 100%;
    @media screen and (min-width: 768px) {
      h5 {
        font-size: 0.8em;
        font-weight: 700;
      }

      p {
        font-size: 0.7em;
      }
    }
  }

  #description {
    @media screen and (min-width: 768px) {
      height: 32%;
      overflow: hidden;

      text-overflow: ellipsis "[...]";
      margin-bottom: 10px;
    }
    @media screen and (min-width: 992px) {
      height: 27%;
      overflow: hidden;

      text-overflow: ellipsis "[...]";
      margin-bottom: 10px;
    }
  }
}
