#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 576px) {
    justify-content: space-evenly;
  }

  @media screen and (min-width: 768px) {
    background-color: $shadow;
    border: 1px solid $white;
    box-shadow: 5px 5px 7px 0px $darkerShadow;
    border-radius: 50px;
  }

  #card-row {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 500px) {
    width: 80%;
    height: 50%;
  }
}

.card {
  max-width: 360px;
  box-shadow: 0px 10px 7px 3px rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 767px) {
    width: 100%;
    height: 15%;
  }
  @media screen and (max-width: 500px) {
    max-width: 230px;
    height: 200px;
  }

  #card-imageContainer {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      height: 100%;
    }
    @media screen and (min-width: 1400px) {
      height: 100%;
    }
    @media screen and (max-width: 500px) {
      height: 199px;
    }

    img {
      width: 80%;
      @media screen and (min-width: 1400px) {
        width: 80px;
        height: auto;
      }
    }
  }

  #card-textContainer {
    height: 100%;
    @media screen and (min-width: 768px) {
      h5 {
        font-size: 0.8em;
        font-weight: 700;
      }

      p {
        font-size: 0.7em;
      }
    }
  }

  #description {
    @media screen and (min-width: 768px) {
      height: 32%;
      overflow: hidden;

      text-overflow: ellipsis "[...]";
      margin-bottom: 10px;
    }
    @media screen and (min-width: 992px) {
      height: 27%;
      overflow: hidden;
      text-overflow: ellipsis "[...]";
      margin-bottom: 10px;
    }

    @media screen and (max-width: 500px) {
      font-size: 0.8em;
      height: 28%;
      overflow: hidden;
    }
  }
}

@each $name, $color in $cardColors {
  .#{$name} {
    background-color: $color;
  }
}
