nav {
  background-color: $white;
  position: fixed;
  z-index: 999;

  .container-fluid .navbar-brand img {
    width: 45px;
  }

  .container-fluid .navbar-brand p {
    margin: 0;
    color: #9ba1d6;
    font: {
      weight: 700;
      size: 1.4em;
      family: $title;
    }
  }

  .navbar-nav {
    width: 25%;
    @media screen and (max-width: 1450px) {
      width: 30%;
    }
    @media screen and (max-width: 1250px) {
      width: 39%;
    }

    li a {
      font-size: 1.2em;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        color: $glaucous !important;
        transition: 0.4s;
      }

      @media screen and (max-width: 1300px) {
        font-size: 1em;
      }
    }
  }

  .icon-container i {
    color: $oxford-blue;
    font-size: 1.5em;
    padding: 1em;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: $glaucous;
      transition: 0.4s;
    }

    @media screen and (max-width: 1300px) {
      font-size: 1.3em;
    }
  }
}
