$transparentBackground: #ffffff48;
$oxford-blue: #0a2342ff;
$glaucous: #6883baff;
$transparentGlaucous: #8597bb63;
$white: #ffffffff;
$china-rose: #a04668ff;
$shadow: #86836d3d;
$darkerShadow: #6b695770;
$emphasis: #a481c2;
$cardBackground: #e5ccfb;
$cardColors: (
  card1: #e5ccfb,
  card2: #c2c8fc,
  card3: #cae7fb,
  card4: #e4e1fb,
);
$partnersColors: (
  partner1: #e5ccfb,
  partner2: #c2c8fc,
  partner3: #cae7fb,
  partner4: #e4e1fb,
);
$background: linear-gradient(90deg, #c2c8fc 0%, #d8e5fb 17%, #e4e1fb 36%, #e5ccfb 66%, #cae7fb 100%);

// Dark mode color:
$text: rgb(190, 190, 190);
$darkNavbar: #252525;
$darkTransparentBackground: #00000052;
$darkCardImgBackground: #fa6f1f;
$darkerOrange: #b14f16;
$darkFooterBackground: #252525;
$darkBackground: linear-gradient(90deg, #222222 0%, #333d4e 17%, #241f4e 36%, #1d0a2e 66%, #244054 100%);

// FONTS
$title: "Rubik", sans-serif;
$common-text: "Ubuntu", sans-serif;
