$transparentBackground: rgba(255, 255, 255, 0.281);
$oxford-blue: #0a2342ff;
$glaucous: #6883baff;
$transparentGlaucous: rgba(133, 151, 187, 0.39);
$white: #ffffffff;
$china-rose: #a04668ff;
$shadow: rgba(134, 131, 109, 0.24);
$darkerShadow: rgba(107, 105, 87, 0.438);
$emphasis: rgb(164, 129, 194);
$cardBackground: rgba(229, 204, 251, 1);
$cardColors: (
  card1: #e5ccfb,
  card2: #c2c8fc,
  card3: #cae7fb,
  card4: #e4e1fb,
);
$partnersColors: (
  partner1: #e5ccfb,
  partner2: #c2c8fc,
  partner3: #cae7fb,
  partner4: #e4e1fb,
);
$background: linear-gradient(
  90deg,
  rgba(194, 200, 252, 1) 0%,
  rgba(216, 229, 251, 1) 17%,
  rgba(228, 225, 251, 1) 36%,
  rgba(229, 204, 251, 1) 66%,
  rgba(202, 231, 251, 1) 100%
);

// FONTS
$title: "Rubik", sans-serif;
$common-text: "Ubuntu", sans-serif;
